@charset "UTF-8";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin-bottom: 1rem;
}

.header__sentence {
  text-align: center;
}