@charset "UTF-8";

.work {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__img {
  width: 50%;
}

.work__text {
  width: 50%;
  padding: 0 2rem;
}

.work__title {
  font-weight: normal;
  margin-bottom: 1rem;
}

.work__title-en {
  font-size: 0.95rem
}

@media screen and (max-width: 767px) {
  .work {
    flex-direction: column-reverse;
  }

  .work__img {
    width: 100%;
  }

  .work__text {
    width: 100%;
  }

  .work__title {
    margin-top: 1rem;
  }
}