@charset "UTF-8";

@import url("./header.css");
@import url("./ingredient.css");
@import url("./how-to-make.css");
@import url("./footer.css");

.body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

.body__main {
  display: flex;
}

.body__main-visual {
  max-width: 50%;
  height: 700px;
  object-fit: cover;
}

.body__text {
  width: 50%;
  margin: 2rem auto 0 auto;
  padding: 0 5%;
}

.body__ingredient {
  margin: 2rem auto;
}

.body__how-to-make {
  margin: 2rem auto 0 auto;
}

.body__footer {
  margin: 4rem auto 0 auto;
}

@media screen and (max-width: 834px) {
  .body__main {
    flex-direction: column;
  }

  .body__main-visual {
    max-width: 100%;
    width: 100%;
    margin-bottom: 3rem;
  }

  .body__text {
    width: 100%;
  }
}